#prin_contacto {background-color: rgb(110, 110, 223);padding-left : 20%; padding-top: 10pt; padding-bottom: 10pt;}
#prin_contacto h2{color:gold}

form label {font-size: large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:darkred;}
